<% include partials/header%>

<% include partials/navigation%>

    <hr>

    <div class="container">
        <div id="cart-list">

        <% if(cartItems){ %>

            <% cartItems.forEach(function(current){ %>
            
                <div class="row" id = 'cart-item'>
                
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="<%= current.ImagePath %>" class="food-image" alt="<%= current.Name %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3> <%= current.Name %> </h3>
                        <p class="description"> <%= current.Description %>  </p>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <br>
                        <p>
                            <%= current.Price %> &#8360 &nbsp; x &nbsp;&nbsp;&nbsp;   
                            <input type="number" name="quantity" class="quantity-box">
                            &nbsp;&nbsp;&nbsp;
                        </p>
                        <i class="fa fa-trash" onClick ='removeItem(event,<% current.Name%>)'></i>
                        <br>
                    </div>

                </div>

                <% }) %>
                
                <% } else { %>
                <h3>Cart is Empty! &nbsp;&nbsp; Select items from menu to add.</h3>
                <% } %>   
                </div> 
                <br>

                <div class="row">
                    <button class="btn btn-success btn-lg check-out-button">Checkout</button>
                    <button class="btn btn-default btn-lg empty-cart-button" id="empty-cart">Empty Cart</button>
                </div>
                </div>
                
<script>
    var cart = <%- JSON.stringify(cartItems.map(function(current){return current.Name})); %>
</script>
<script src="/js/cart.js"></script>

<% include partials/footer%>