<% include partials/header %>

<% include partials/side-nav %>

<div class="admin-main">

    <div class="table-responsive">

        <table class='table table-striped table-condensed'>

        <tr>
            <th> Username </th>
            <th> Order ID </th>
            <th> Date </th>
            <th> Total </th>  
            <th> Status </th>
            <th>Change Status</th>
        </tr>

        <% if(orders && orders.length > 0){%>
            <% orders.forEach(function(current){ %>
                <tr>
                    <td><%= current.username%></td>
                    <td><%= current.order_id %></td>
                    <td><%= moment(current.orderedAt).format('Do MMMM YYYY hh:mm:ss a');%></td>
                    <td><%= current.total%></td>
                    <td>
                        <form action = '/admin/<%=current.order_id%>' method = 'post'>
                            <select id='category' class='category' name='category' class="form-control input-lg">

                                <% var status = ['Pending','Accepted','Rejected','Dispatched','Delivered'];
                                status.forEach(function(element){ %>
                                    <option value= '<%=  element %>' <%= current.status === element ? 'selected' : ''%> > <%=  element %> </option>
                                <% });%>

                            </select>
                    </td>
                    <td>
                            <button class='icon' type='submit'><i class="fa fa-check"></i></button>
                        </form>
                    </td>
                </tr>
            <% });%>
        <% } %>
        </table>

    </div>

</div>

<% include partials/footer%>