<% include ../partials/header%>
<% include ../partials/navigation%>

    <hr>

    <div class="container">
        <div id="cart-list">

        <% if(typeof cartItems !== 'undefined' && cartItems.length > 0){ %>

            <table class="table table-condensed table-striped">
            <thead>
                
                <th class="col-xs-7"> Food Item</th>
                <th class="col-xs-2"> Quantity </th>
                <th class="col-xs-1"> Price </th>
                <th class="col-xs-1">Total</th>
                <th class="col-xs-1">  </th>

            </thead>
            <tbody>

            <% cartItems.forEach(function(current){ %>

                <tr class="item">
                    <td>
                        <img src="<%=current.ImagePath%>" class="food-image" alt="<%=current.Name%>">
                        <h4 class='food-name'> <%=current.Name%> </h4>
                    </td>
                        
                    <td>

                        <div class="quantity-group input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger decrement" id="decrement" onclick="decrement()">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                        <input type="text" id="quantity" name="quantity" class="quantity-box form-control input-number" value="1" oninput="validateQuantity()">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success increment" id="increment" onclick="increment()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>

                    </td>
                    
                    <td>
                        <span class='food-price'> <%=current.Price%> </span> &#8360
                    </td>

                    <td>
                        <span class="total-price" data-price="<%=current.Price%>"><%=current.Price%></span> &#8360 
                    </td>

                    <td>
                        <i class="fa fa-trash" onclick ='removeItem("<%=current.Name%>")'></i>
                    </td>

                </tr>
            
                <% }) %>

            </tbody>
            </table>

            <p> Grand Total <span id="grand-total"></span> </p>

                <% } else { %>
                <h3> Cart is Empty! &nbsp; Select items from menu to add. </h3>
                <% } %>   

        </div> 
                <br>

                <div class="row">
                    <form>
                    <button class="btn btn-success btn-lg check-out-button" onclick='checkout()'>Checkout</button>
                    <button class="btn btn-default btn-lg empty-cart-button" id="empty-cart" onclick = 'clearCart()'>Empty Cart</button>
                    </form>
                </div>
    </div>
              
<% include ../partials/footer%>